html,
body {
	background-color: black;
	color: white;
	display: flex;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	width: 100%;
}

main {
	flex-grow: 1;
	padding: 20px;
}
aside {
	background: rgb(52, 47, 47);
	width: 200px;
	min-height: 100vh;
}

/* Add styles for the navigation */
.navbar {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #333;
}

.nav-item {
	padding: 10px 15px;
	color: white;
	cursor: pointer;
	border-bottom: 1px solid white;
}

.nav-item:hover {
	background-color: #555;
}

/* Add styles for the table */
table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid white;
	overflow-x: auto;
}

th,
td {
	border: 1px solid white;
	padding: 10px;
}
